{% load static %}

로그인 페이지
<br>

<img src = "{% static '/assets/female7.jpg' %}" alt = "">
<br>

{{res_data}}

{% if user.is_authenticated %}
    로그인성공!
    {{user.username}} 님 환영합니다.
    <!-- {{user.profile_img.url}} -->
    <!-- <img src = "{{ user.profile_img.url }}" alt ="프로필사진"> -->
    <a href= "{% url 'users:logout' %}">로그아웃</a>
    <a href= "{% url 'users:main' %}">메인으로가기</a>


{% else %}

<form action = "" method = "post">
    {%csrf_token %}
    <input name = "username" type = "text">
    <input name = "password" type = "password">
    <input type = "submit" value = "로그인">

</form>
<a href = "{% url 'users:signup' %}"> 회원가입 </a>
<a href= "{% url 'users:main' %}">메인으로가기</a>


{% endif %}